.year-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 3vw;
    padding: 1vw;
    list-style: none;
    font-size: calc(0.5rem + 0.6vw);
    border: 3px solid #494e53;
    border-radius: 10px;
    width: 25vw;
}
.year-list > span{
    margin: 0.5vh;
}

.year-list-title{
    font-size: calc(0.7rem + 0.8vw);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 30vw;
}

.year-title{
    font-size: calc(0.8rem + 0.9vw);
    font-weight: bold;
    margin: 0.5vh;
    border: 3px solid #494e53;
    border-radius: 10px;
    background-color: rgb(131, 148, 142);
}

.year-value{
    display: flex;
    justify-content: start;
    font-size: calc(0.6rem + 0.7vw);
    margin-top: 4vh;
    padding: 1vw;
    border: 3px solid #494e53;
    border-radius: 10px;
    background-color:  rgba(131, 148, 142, 0.267);
}

.year-wrapper{
    display: flex;
    width: 32vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1vh;
    background-color: #494e53;
    border-radius: 20px;
    padding:1vw;
}

.year-content{
    width: 30vw;
    height: 100%;
    border-radius: 10px;
    background-color: #3c3842;
    padding:1vw;
}
