.competence-nav-bar{
    width: 80%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: all 0.3s;
    background-color: #494e53;
    border-radius: 10px;
}

.competence-nav-bar-window{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 30px;
    background-color: #d4d4d4;
}

.nav-bar-arrow{

    width: 50px;
    height: 50px;
    background-color: #dfaa5c;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
}

.nav-bar-arrow:hover{
    background-color: #9a9c9e;
}

.competence-nav-bar-left-arrow{
    border-radius: 50% 0 0 50%;
}

.competence-nav-bar-right-arrow{
    border-radius: 0 50% 50% 0;
}

.competence-nav-bar-label{
    display: flex;
    color: rgb(53, 53, 53);
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: calc(1rem + 0.7vw);
    font-weight: bold;
    width: 60vw;
    transition: all 1s;

}

