.internship-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;    
}

.internship-page > h1{
    border-radius: 30px;
    background-color: #7e7a70;
    width: 20vw;
    height: 7vh;
    font-size: calc(1rem + 1.4vw);
    display: flex;
    justify-content: center;
    align-items: center;

}

.societies-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    margin-left: 1.5vw;
}